ol{
color:green;
font size 400px;
}
.yez{
	color:green;
font}
	*{margin:30px}
	*{padding:20px} 

	.box1{
margin:20px;
padding:10px;
border:10px solid red;
border-radius:10px;
	}
	.button
	{margin-left: 100px}